body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {padding:0;margin:0}

td {background:#eee; padding: 4px}
td.error {background:#ebc;}

th {text-align: left; background: #ddd; padding: 4px}
nav {background: darkmagenta; padding: 1em}
nav { background: linear-gradient(to top, #f953c6, darkmagenta); }

footer {background: #ddd; padding:1em; min-height: 50px}
nav > select {margin: 4px; font-size: 1.2em; user-select: none}
main {padding:1em}
article > button {display: none}
article:hover > button {display: block}
article.active {background: #fea}

article.operation {border: 1px solid silver; margin: 1em 0em; padding: 4px;}
input[type=submit]{margin:1em}

body{height:100vh}
body{display:flex; flex-direction:column;}
footer{margin-top:auto;}
summary{user-select:none}